    <table>
        <tr valign="top">
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                <img class="img-rounded" src="{{ question.author.avatar(42) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                    {{ question.author.username }}
                </a><br>

                <a href="{{ url_for('edit_faqanda', question_id=question.id) }}">
                    </b>{{ question.title }}
                </a><br>
                <textarea id='q_body'>{{ question.body }}</textarea>
                <div>
                    <textarea id='a_body'>{{ question.answers}}</textarea>
                </div>


            </td>
        </tr>
    </table>



