    <table>
        <tr valign="top">
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                <img src="{{ question.author.avatar(24) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                    {{ question.author.username }}
                </a><br>
                <div class="simpleMDE"
                    <b>asked:</b>{{ question.title}}<br>
                    <b>the details:</b>{{ question.body }}
                </div>
            <script>
                var markdownEditor = new SimpleMDE(
                    { element: document.getElementById("{{ question.body}}")});
            </script>
                <hr>
            </td>
        </tr>
    </table>

