    <table>
        <tr valign="top">
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                <img class="img-rounded" src="{{ question.author.avatar(42) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                    {{ question.author.username }}
                </a><br>

                <a href="{{ url_for('edit_faqanda', question_id=question.id) }}">
                    </b>{{ question.title }}
                </a><br>
                    <b>the details:</b>{{ question.body }}
                </a><br>
                {% for answer in question.answers %}
                    <div><b>answers:</b>{{ answer.body }}</div>
                {% endfor %}

                <hr>
            </td>
        </tr>
    </table>

