    <table>
        <tr valign="top">
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                <img src="{{ question.author.avatar(24) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=question.author.username) }}">
                    {{ question.author.username }}
                </a>
                asked: <b>{{ question.body }}</b>
            </td>
        </tr>
    </table>

