{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.question_title.label }}<br>

        {{ form.question_title(cols=80, rows=1) }}<br>
        {{ form.question.label }}<br>
        {{ form.question }}<br>
        {{ form.answer }}<br>
        {{ form.submit() }}<br>

    <script>
        var markdownEditorQuestion = new SimpleMDE(
            { element: document.getElementById("{{ form.question.id }}"),
            placeholder: "enter question details here...",
            toolbarTips: true,
            });

        var markdownEditorAnswer = new SimpleMDE(
            { element: document.getElementById("{{ form.answer.id }}"),
            placeholder: "enter answer here...",
            toolbarTips: true,
            });


    </script>
        {% for error in form.question.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
</form>
{% endblock %}
