<html>
    <head>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

        {% if title %}
        <title>{{ title }} - FAQandA</title>
        {% else %}
        <title>Welcome to FAQandA</title>
        {% endif %}
    </head>

    <body>



    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('index') }}" class="navbar-brand">FAQandA</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('ask_question') }}">Ask Question</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Explore<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Questions</a></li>
                        <li><a href="#">My Answers</a></li>
                        <li><a href="#">My Endorsed Answers</a></li>
                        <li><a href="#">Need Endorsement</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Create<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Tags</a></li>
                        <li class="divider"></li>
                        {% if current_user.is_anonymous %}
                            <li><a href="{{ url_for('login') }}">Profile</a></li>
                        {% else %}
                            <li><a href="{{ url_for('edit_profile', username=current_user.username) }}">Profile</a></li>
                        {% endif %}
                    </ul>
                </li>

            </ul>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}'s Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                <li class="inactive"><a href="{{ url_for('index') }}">About</a></li>
            </ul>
        </div>
    </nav>

    <hr>
<div class="container">
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        {% endblock %}
    </body>
</div>
</html>

