{% extends "base.html" %}

{% block content %}
    <h1>Edit FAQandA</h1></br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <strong>Question:</strong><br>
            {{ form.question_title(cols=100, rows=1) }}<br>
            {% for error in form.question.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            {{ form.question() }}<br>
            {% for error in form.question.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <p>
        <strong>Answer:</strong><br>
            {{ form.answers(cols=100, rows=10) }}<br>
            {% for error in form.answers.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

            <div>
                {{ form.submit() }}<br>
            </div>



    <script>
        var markdownEditor = new SimpleMDE(
            { element: document.getElementById("{{ form.question.id }}")
            });
        markdownEditor.togglePreview();


        <!--markdownEditor.value("{{ form.question.id }}")-->
    </script>

    </form>
{% endblock %}
