{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.question.label }}<br>
            {{ form.question(cols=80, rows=8) }}<br>
            {% for error in form.question.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% for question in questions %}
        {% include "_question.html" %}
    {% endfor %}
    {% endblock %}
